@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@400;700&family=Ruda:wght@400;700&display=swap');

body {
    background-color: #1F1E24;
}

h1, h2 {
    color: white;
}

h3 {
    color: #C73A43;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Ruda', sans-serif;
}

h1, h3 {
    text-transform: uppercase;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 18px;
    font-family: 'Ruda', sans-serif;
}

p {
    font-family: 'Catamaran', sans-serif;
}


#jumbotron {
    height: 152px;
    background-image: url(/images/header-image.jpg);
    background-position: center;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: 3s ease-in-out both;
    animation-name: superior;
}

#hotels {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 230px));
    justify-content: space-around;
}

img {
    width: 186px;
}
img:hover {
    width: 100%;
}

.hotel {
    border: 2px solid gray;
    padding: 15px;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
}

ul {
    list-style: none;
    padding: initial;
    margin: 0;
}

.price {
    line-height: 0;
}

.description {
    color: gray;
    font-size: 15px;
}

.footer-booking > button{
    background-color: #C73A43;
    color: white;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    text-transform: uppercase;
    animation-name: remarcar;
}

button {
    border: none;
    cursor: pointer;
}
button:hover {
    font-size: 30px;
    font-weight: bold;
}

#colophon {
    background-color: #C73A43;
    color: white;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
    height: 50px;
    line-height: 50px;
    font-weight: bold;
    animation: 3s ease-in-out both;
    animation-name: lateral;
}

@keyframes lateral {
    from {
        transform: translateX(-200px);
        opacity: 0;
    }
    to {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes superior {
    from {
        transform: translateY(-200px);
        opacity: 0;
    }
    to {
        transform: translateY(0px);
        opacity: 1;
    }
}